div.container {
  padding-top: 25px;
}

div.container.work-samples {
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

div.work-items1 {
  display: flex;
  flex-wrap: wrap;
}

div.work-items2 {
  display: flex;
  flex-wrap: wrap;

}

div.container.header,
a.brand {
  color: lightseagreen;
  font-size: 20px;
}

img.figure-img {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

figcaption.figure-caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

h1 {
  font-size: 1.5rem !important;
}

h2 {
  font-size: 1rem !important;
}

*/